# Dependencies & Build output
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env*.local

# Agent configuration, rules and skills
.agent/
.Agent/
.agent
.Agent
.[aA]gent/
.[aA]gent*

# Temporary files & Office temp
~$*
*.tmp
*.temp
Thumbs.db
Desktop.ini
.DS_Store

# Logs & IDE cache
*.log
.vscode/
.idea/

.vercel
